<!DOCTYPE html>
<html>
<head>
    <title>Questionnaire</title>
</head>
<body>
    <form method="POST" action="/process_form">
        <ul>
            {% for item in questions %}
            <li>
                <h3>{{ item.question }}</h3>
                <ul>
                    {% for answer in item.answers %}
                    <li> {{ answer }} </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
