<!DOCTYPE html>
<html>
<head>
    <title>Course Selection Form</title>
</head>
<body>
    <form method="POST" action="/process_form">
        <label for="course">Select a Course:</label>
        <select id="course" name="course">
            <option value="Ansible 101">Ansible 101</option>
            <option value="Ansible 202">Ansible 202</option>
            <option value="Ansible: Mastering Ansible">Ansible: Mastering Ansible</option>
            <option value="AnsiDell">AnsiDell</option>
            <option value="Jenkins">Jenkins</option>
            <option value="K8s (3 day)">K8s (3 day)</option>
            <option value="K8s- CKA">K8s- CKA</option>
            <option value="K8s- CKAD">K8s- CKAD</option>
            <option value="Linux for Developers">Linux for Developers</option>
            <option value="Microservices">Microservices</option>
            <option value="napya">NAPYA</option>
            <option value="Python API">Python API</option>
            <option value="pybasics">Python Basics</option>
            <option value="pyna">PYNA</option>
            <option value="Terraform">Terraform</option>
            <option value="TLG NDE">TLG NDE</option>
            <option value="TLG SDE">TLG SDE</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
